<!DOCTYPE html>
<html lang="en">

<head>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Papaya's</title>
    <link rel="stylesheet" href="/assets/reset.css">
    <link rel="stylesheet" href="/assets/header.css">
    <link rel="stylesheet" href="/assets/main.css">
    <link rel="stylesheet" href="/assets/flickity.css">
    <link rel="stylesheet" href="/assets/flickity-fade.css">

</head>

<body>
    <header>
        <div class="logo-header">
            <h1>Papaya's</h1>
            <img src="/assets/svg/papaya.svg" alt="logo">
        </div>
        <div class="middle-header">
            <div class="search-header">
                <input type="text" class="input-header">
                <i class="input-icon-header"></i>
            </div>
            <div class="butoes-header">
                <div class="butoes-header-categorias">
                    <img src="/assets/svg/menu.svg" alt="">
                    <a href="">Categorias</a>
                </div>
                <div class="butoes-header-descontos">
                    <img src="/assets/svg/sell.svg" alt="">
                    <a href="">Descontos</a>
                </div>
                <div class="butoes-header-sobre">
                    <img src="/assets/svg/help.svg" alt="">
                    <a href="">Sobre Nós</a>
                </div>
                <div class="butoes-header-local">
                    <img src="/assets/svg/pin.svg" alt="">
                    <label>Localização do Usuário</label>
                </div>
            </div>
        </div>
        <div class="carrinho-header">
            <h1>Carrinho</h1>
            <img class="svg-carrinho" src="/assets/svg/carrinho.svg" alt="carrinho">
        </div>
    </header>


    <main>
        <div class="main-carousel main-board">
            <div class="carousel-cell">
                <img src="/assets/png/board-2.webp" alt="">
            </div>
            <div class="carousel-cell">
                <img src="/assets/png/board-3.webp" alt="">
            </div>
            <div class="carousel-cell">
                <img src="/assets/png/board-4.webp" alt="">
            </div>
        </div>
        <div class="main-destaque">
            <div class="main-destaque-top">
                <h2>Produtos em Destaque</h2>
                <div class="main-destaque-top-button">
                    <button class="button-left">
            <img src="/assets/svg/arrow.svg" alt="">
          </button>
                    <button class="button-right">
            <img src="/assets/svg/arrow.svg" alt="">
          </button>
                </div>
            </div>
            <div class="main-destaque-bottom">

            </div>
        </div>
    </main>
</body>

<script src="/assets/scripts/flickity.js"></script>
<script src="/assets/scripts/card-slider.js"></script>
<script src="/assets/scripts/flickity-fade.js"></script>

</html>